body {
    scroll-behavior: smooth;
}
/* style header */

#panorama {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
    opacity: 80%;
    
    margin-bottom: 50px;
}

#logo {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 250px;
    height: 250px;
    background-color: transparent;
    
}

header #Menü p {
    display: table-cell;
    text-align: center;
    
    border: 5px;
    background-color: lightgrey;
}

/* style main */

main {
    position: absolute;
    top: 300px;
    left: 0px;
}

#Radwegauswahl_1,  #Radwegauswahl_2 {
    display: table;
    width: 100%;
    margin-bottom: 50px;
}

#Radwegauswahl_1 figure, #Radwegauswahl_2 figure {
    display: table-cell;
    padding: 10px;
    text-align: center;   
}

#Radwegauswahl_1 figure img, #Radwegauswahl_2 figure img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#Radwegauswahl_1 figure figcaption,  #Radwegauswahl_2 figure figcaption{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#map {
    width: 100%;
    height: 500px;
    border: 1px solid gray;
    background-color: grey;
}