body {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}
/* style header */

header img {
    width: 100%;
    margin: 0;
    padding: 0;
    
}

header ul {
    background-color: green;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

header li {
    float: left;
    text-align: center;
    
}

header a {
    display: block;
    width: 30.33vw;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    color: black;
    
}




/* style main */



#Radwegauswahl_1,  #Radwegauswahl_2 {
    display: table;
    width: 100%;
    margin-bottom: 50px;
}

#Radwegauswahl_1 figure, #Radwegauswahl_2 figure {
    display: table-cell;
    padding: 10px;
    text-align: center;   
}

#Radwegauswahl_1 figure img, #Radwegauswahl_2 figure img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#Radwegauswahl_1 figure figcaption,  #Radwegauswahl_2 figure figcaption{
    font-style: italic;
    
    padding: 5px;
}

#Radwegauswahl_1 figure table,  #Radwegauswahl_2 figure table{
    font-family: Arial, Helvetica, sans-serif;
    
}

tr {
    text-align: end;
}

.kategorie {
    text-align: left;
    max-width: 100%;
}

#map {
    width: 100%;
    height: 500px;
    border: 1px solid gray;
    background-color: grey;
}

#beschreibung {
    text-align: center;
}