body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
      
}

.titelbild {
    grid-column: 1 / 4;
    grid-row: 1;
    
}

#navigation_1 {
    grid-column: 1 / auto;
    grid-row: 2 / auto;
    color: lightseagreen;
    background-color: lightskyblue;
}

#map {
    grid-column: 1 / span 3;
    grid-row: 7;
    background-color: lightpink;
}

.foot {
    grid-column: 1 / span 3;
    grid-row: 8;
    background-color: lightgray;
}